@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using ProjeBlog.Models;
@model List<ProjeBlog.Models.Content>
@{
    string sString = "";
}

<!-- banner section start -->
<div class="container-fluid">
    <div class="banner_section layout_padding">
        <h1 class="banner_taital">Bloguma <br>Hoşgeldiniz</h1>
        <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="image_main">
                        <div class="container">
                            <img src="images/img-1.png" class="image_1">
                            <div class="contact_bt"><a href="contact.html">Contact Us</a></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="image_main">
                        <div class="container">
                            <img src="images/img-1.png" class="image_1">
                            <div class="contact_bt"><a href="contact.html">Contact Us</a></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="image_main">
                        <div class="container">
                            <img src="~/images/img-1.png" class="image_1">
                            <div class="contact_bt"><a href="contact.html">Contact Us</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- banner section end -->

<!-- header section end -->
<div class="container">
    <div class="touch_setion">
        <div class="box_main">
            <div class="image_2 active">
                <h4 class="who_text active">Who am i</h4>
            </div>
        </div>
        <div class="box_main">
            <div class="image_3">
                <h4 class="who_text">Get In Touch</h4>
            </div>
        </div>
        <div class="box_main">
            <div class="image_4">
                <h4 class="who_text">Facebook</h4>
            </div>
        </div>
    </div>
</div>
</<div>
    @for (int i = 0; i < Model.Count; i++) {
        var methods = new Methods();
        string submitTitleId = Model[i].ID.ToString() + "submitTitleId";
        sString = methods.BlogContentFormatting(Model[i]) + "...";

        <div class="about_section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-sm-12">
                        <row>
                            <p class="post_text">@Model[i].CreatedDate</p>
                            <p class="post_text">@Model[i].Views defa okundu</p>
                        </row>
                        <div class="about_img"><img src="@Model[i].CoverImagePath"></div>
                        @*<div class="like_icon"><img src="images/like-icon.png"></div>*@
                        <h2 class="most_text">@Model[i].Title</h2>
                        <p class="lorem_text">@Html.Raw(sString)</p>
                        <div class="social_icon_main">
                            <div class="social_icon">
                                <ul>
                                    <li><a href="#"><img src="/images/fb-icon.png"></a></li>
                                    <li><a href="#"><img src="/images/twitter-icon.png"></a></li>
                                    <li><a href="#"><img src="/images/instagram-icon.png"></a></li>
                                </ul>
                            </div>
                            <div class="read_bt"><a asp-controller="Blog" asp-action="ContentPage" asp-route-idx="@Model[i].ID">Okumaya Devam Et</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- about section start -->

<!-- about section end -->
<!-- blog section start -->

<!-- blog section end -->
<!-- newsletter section start -->

<!-- newsletter section end -->
<!-- recent section start -->

<!-- recent section end -->
<!-- tag section start -->
<div class="tag_section layout_padding">
    <div class="container">
        <h1 class="tag_taital">Tag</h1>
        <div class="tag_bt">
            <ul>
                <li class="active"><a href="#">Ectetur</a></li>
                <li><a href="#">Onsectetur</a></li>
                <li><a href="#">Consectetur</a></li>
                <li><a href="#">Consectetur</a></li>
                <li><a href="#">Consectetur</a></li>
            </ul>
        </div>
        <div class="tag_bt_2">
            <ul>
                <li><a href="#">Tetur</a></li>
                <li><a href="#">Conse</a></li>
                <li><a href="#">Nsectetur</a></li>
                <li><a href="#">Sectetur</a></li>
                <li><a href="#">Consectetur</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- tag section end -->
<!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">1</li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">2</li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">3</li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">4</li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="contact_img"></div>
                        </div>
                        <div class="carousel-item">
                            <div class="contact_img"></div>
                        </div>
                        <div class="carousel-item">
                            <div class="contact_img"></div>
                        </div>
                        <div class="carousel-item">
                            <div class="contact_img"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mail_section">
                    <h1 class="contact_taital">Contact us</h1>
                    <input type="" class="email_text" placeholder="Name" name="Name">
                    <input type="" class="email_text" placeholder="Phone" name="Phone">
                    <input type="" class="email_text" placeholder="Email" name="Email">
                    <textarea class="massage_text" placeholder="Message" rows="5" id="comment" name="Message"></textarea>
                    <div class="send_bt"><a href="#">send</a></div>
                </div>
            </div>
        </div>
    </div>
</div>