@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Html
@using ProjeBlog.Models;
@using ProjeBlog.RepositoryPattern
@model List<ProjeBlog.Models.Content>
@{
    string sString = "";
}

<!-- banner section start -->
<div class="container-fluid">
    <div class="banner_section layout_padding" style="margin-bottom:5vh;">
        <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                
                @{
                    bool first = true;
                    var carouselItems = Utility.ContentSetElements(ProjeBlog.Enums.ElementLocation.BlogCarousel);

                    foreach(ContentSetElement cse in carouselItems)
                    {
                        foreach(var csc in cse.ContentSet.ContentSetContents){
                            if (first)
                            {
                                <div class="carousel-item active">
                                    <div class="image_main">
                                        <div class="container" style="text-align:center;">
                                            <img style="background-color:grey;border:30px solid #ffffff; text-align:center; width:100%; height:438px; margin-left:auto; margin-right:auto;object-fit: cover;" src="@csc.Content.CoverImagePath" class="">
                                            <div class="title-overlay">
                                                <a asp-area="Blog" asp-controller="Blog" asp-action="ContentPage" asp-route-idx="@csc.Content.ID">
                                                    <h3 style="color:white;" class="most_text">
                                                        @csc.Content.Title
                                                    </h3>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                first = false;
                            }
                            else
                            {
                                <div class="carousel-item">
                                    <div class="image_main">
                                        <div class="container" style="text-align:center;">
                                            <img style="background-color:grey; border:30px solid #ffffff; text-align:center; width:100%; height:438px; margin-left:auto; margin-right:auto;object-fit: cover;" src="@csc.Content.CoverImagePath" class="">
                                            <div class="title-overlay">
                                                <a asp-area="Blog" asp-controller="Blog" asp-action="ContentPage" asp-route-idx="@csc.Content.ID">
                                                    <h3 style="color:white;" class="most_text">
                                                        @csc.Content.Title
                                                    </h3>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        
                    }

                }
                
            </div>
            <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- banner section end -->

<!-- header section end -->

<div>
    <div style="background-color:aliceblue; margin-right:auto;margin-left:auto;padding-top:2vh;padding-bottom:2vh; text-align:center;"><h2> Son Gönderiler</h2></div>
    @{
        List<Content> recentContents = Model.OrderByDescending(c => c.CreatedDate).Take(3).ToList();
        @for (int i = 0; i < recentContents.Count; i++) {
            var methods = new Methods();
            string submitTitleId = Model[i].ID.ToString() + "submitTitleId";
            sString = methods.BlogContentFormatting(Model[i]) + "...";

            <!-- Her içerik için dış katman -->
            <div class="" style="background-color:aliceblue">

                <div class="container d-flex flex-wrap justify-content-center align-items-center" style="padding-top:3vh; width:auto; text-align:center;">

                    <div class="row col-sm-6 col-md-8 col-lg-11 box" style="border-bottom-style:groove; border-width:2px; text-align:center; max-width:100%;background-color:white">

                        <div class="row box" style="width:100%; background-color:#080C50; text-align:center; display:flex; justify-content:center; align-items:center;margin-left:auto;margin-right:auto; margin-bottom:2%; margin-top:2%;">
                            <p style="width:50%; border-left:1px; color:white; display:inline-block;" class="post_text">@Model[i].CreatedDate</p>
                            <p style="width:50%; color:white; display:inline-block;" class="post_text">@Model[i].Views defa tıklandı</p>
                        </div>

                        <!-- Sol kısım: İçerik -->
                        <div style="padding:3%; text-align:center; margin-left:auto; margin-right:auto;">

                            @if (Model[i].CoverImagePath != null)
                            {
                                <div class="about_img">
                                    <img style="max-height:40vh;" src="@Model[i].CoverImagePath">
                                </div>
                            }

                            <h2 class="most_text">
                                <a asp-controller="Blog" asp-action="ContentPage" asp-route-idx="@Model[i].ID">
                                    @Model[i].Title
                                </a>
                            </h2>
                            <div class="content-preview">
                                <div>@(new HtmlString(sString))@*Html.Raw(sString)*@</div>
                            </div>

                        </div>
                        <div class="row box" style="width:100%;background-color:#ADD8E6;text-align:center;display:inline-flex;margin-left:auto;margin-right:auto;margin-bottom:2%;margin-top:2%">
                            <div class="col-lg-8" style="margin-bottom:1vh; margin-top:1vh;">
                                <ul style="list-style: none; padding: 0; margin: 0; display: flex; gap: 10px;">
                                    <li><a href="#"><img src="/images/fb-icon.png"></a></li>
                                    <li><a href="#"><img src="/images/twitter-icon.png"></a></li>
                                    <li><a href="#"><img src="/images/instagram-icon.png"></a></li>
                                </ul>
                            </div>
                            <div class="read_bt col-lg-4" style="margin-bottom:1vh; margin-top:1vh;padding:0; text-align:center;">
                                <a style="width: auto;" asp-controller="Blog" asp-action="ContentPage" asp-route-idx="@Model[i].ID"><h4>Okumaya Devam Et</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>



<!-- about section start -->

<!-- about section end -->
<!-- blog section start -->

<!-- blog section end -->
<!-- newsletter section start -->

<!-- newsletter section end -->
<!-- recent section start -->
<div class="container">
    <div class="touch_setion">
        <div class="box_main">
            <div class="image_3">
                <h4 class="who_text ">Hakkında</h4>
            </div>
        </div>
        <div class="box_main">
            <div class="image_3">
                <h4 class="who_text">Bize Ulaşın</h4>
            </div>
        </div>
        <div class="box_main">
            <div class="image_4">
                <h4 class="who_text">Sosyal Medya</h4>
            </div>
        </div>
    </div>
</div>
<!-- recent section end -->

<!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                
            </div>
            
            <div class="col-md-6">
                <div class="mail_section">
                    <h1 class="contact_taital">Contact us</h1>
                    <input type="" class="email_text" placeholder="Name" name="Name">
                    <input type="" class="email_text" placeholder="Phone" name="Phone">
                    <input type="" class="email_text" placeholder="Email" name="Email">
                    <textarea class="massage_text" placeholder="Message" rows="5" id="comment" name="Message"></textarea>
                    <div class="send_bt"><a href="#">send</a></div>
                </div>
            </div>
        </div>
    </div>
</div>