@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using ProjeBlog.Models;
@model List<ProjeBlog.Models.Content>
@{ 
    string sString = "";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

<div class="container col-lg-8 col-sm-12">
    @{
        var methods = new Methods();
        for (int i = 0; i < Model.Count; i++)
        {
        
            sString = methods.BlogContentFormatting(Model[i]) + "...";

            <!-- Her içerik için dış katman -->
            <div class="about_section layout_padding">
                <div class="container">
                    <div class="row" style="border-bottom-style:groove; border-width:2px; padding:3%; text-align:center">
                        <!-- Sol kısım: İçerik -->
                        <div class="" style="padding:3%; text-align:center; margin-left:auto; margin-right:auto;">
                            @if (Model[i].CoverImagePath != null)
                            {
                                <div class="about_img">
                                    <img style="max-height:65vh;" src="@Model[i].CoverImagePath">
                                </div>
                            }
                            
                            <p class="post_text">@Model[i].CreatedDate</p>
                            <h2 class="most_text">
                                <a asp-controller="Blog" asp-action="ContentPage" asp-route-idx="@Model[i].ID">
                                    @Model[i].Title
                                </a>
                            </h2>
                            <div class="content-preview">
                                <p class="lorem_text">213a</p>
                            </div>
                            <div class="social_icon_main">
                                <div class="social_icon col-lg-8">
                                    <ul>
                                        <li><a href="#"><img src="/images/fb-icon.png"></a></li>
                                        <li><a href="#"><img src="/images/twitter-icon.png"></a></li>
                                        <li><a href="#"><img src="/images/instagram-icon.png"></a></li>
                                    </ul>
                                </div>
                                <div class="read_bt col-lg-2">
                                    <a asp-controller="Blog" asp-action="ContentPage" asp-route-idx="@Model[i].ID">Okumaya Devam Et</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
<div class="col-lg-4 col-sm-12" style="border-width:2px;border-left-style:groove;">
</div>