@using ProjeBlog.Models
@using ProjeBlog.RepositoryPattern
@using ProjeBlog.RepositoryPattern.Interfaces
@model ProjeBlog.Models.Content
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers


<div class="col-lg-10 col-sm-10" style="border-width:2px;border-right:groove;">
    <div class="container">
        <div  style="padding:3vh">

            <div style="padding-top:30px;text-align:center;">
                <row>@{
                        if(Model.CoverImagePath != null)
                        {
                            <img style="max-height:65vh;text-align:center; margin:3vh;" src="@Model.CoverImagePath" />
                        }
                        else{

                        }
                    }

                </row>
                <row>
                    <h3 style="margin-left:auto; margin-right:auto">@Model.Title </h3>
                </row>
            </div>
            <div class="row">
                <article>@Html.Raw(@Model.Entry)</article>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2 col-sm-2" id="RightBar">
    <div class="newsletter_main" id="RightBarMain">
        @{

            var blogRightBar = Utility.ContentSetElements(ProjeBlog.Enums.ElementLocation.BlogRightBar);
            foreach (var item in blogRightBar)
            {
                <h1 class="search_taital">@item.ContentSet.Name</h1>
                {
                    foreach (var content in item.ContentSet.ContentSetContents)
                    {
                        string cPath = content.Content.CoverImagePath;
                        if(cPath == null)
                        {
                            cPath = "/images/noImage.png";
                        }
                        <div class="recent_box">
                            <div class="recent_left">
                                <div class="image_6"><img style="width:100px" src="@cPath"></div>
                            </div>
                            <div class="recent_right">
                                <a asp-area="Blog" asp-controller="Blog" asp-action="ContentPage" asp-route-idx="@content.Content.ID"><h3 class="consectetur_text">@content.Content.Title</h3></a>
                                <p class="dolor_text">@Utility.BlogContentFormatting2(content.Content, 80) </p>
                            </div>
                        </div>
                    }
                }
                
            }
        }
       
    </div>
</div>
<script type="module" src="~/Scripts/Blog/ContentPage.js"></script>